#edit #editFrom img {
  width: 100px;
}

table th {
	text-transform: uppercase;
}

.modal form .btn-primary, .form-actions a   {
    margin-top: 10px;
}

#add .modal-title {
	margin: 0 auto;
}
.hidden {
	display: none;
}
#wait {
	display: none;
	width:100%;
	height:100%;
	background: #000;
	position: absolute;
	z-index: 5000;
	padding:2px;
	text-align: center;
	opacity: 0.5;
}

#wait img {
	position: absolute;
	top: 50%;
}

.rm_recore, #add_recore,.form-actions a {
	color: #fff !important;
}

table.hd{
	width: 100%;
	border: 1px solid #000;
}
table.hd tr td {
	width: 50%;
}

.select2-container .select2-selection--single {
	height: 35px !important;
}
.data-sp {
	position: absolute;
	z-index: 3000;
}
.bootstrap-select {
	border: 1px solid #ddd;
    border-radius: 5px;
}
#addFrom .bootstrap-select {
	width: 100%;
}
.td-masp {
	/*width: 25%;*/
}
#report_hd input {
	display: inline-block !important;
	padding: 5px !important;
    border: 1px solid #ddd !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    /*width: 125px !important;*/
}
#tbody-edit .bootstrap-select,.td-masp {
    
    width: 130px !important;
}